@font-face {
  font-family: "ArialRegular";
  src: url("./fonts//ArialRegular/ArialRegular.eot");
  src: url("./fonts/ArialRegular/ArialRegular.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/ArialRegular/ArialRegular.woff") format("woff"),
    url("./fonts/ArialRegular/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "ArialBold"; */
@font-face {
  font-family: "ArialBold";
  src: url("./fonts/ArialBold/ArialBold.eot");
  src: url("./fonts/ArialBold/ArialBold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/ArialBold/ArialBold.woff") format("woff"),
    url("./fonts/ArialBold/ArialBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "ArialBoldItalic";
  src: url("./fonts/ArialBoldItalic/ArialBoldItalic.eot");
  src: url("./fonts/ArialBoldItalic/ArialBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/ArialBoldItalic/ArialBoldItalic.woff") format("woff"),
    url("./fonts/ArialBoldItalic/ArialBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
.header-background {
  background-color: #e8ebf1;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 47px;
}
.bis {
  font-family: "Lato", sans-serif;
  font-size: 50px;
  color: #000000;
  font-weight: 900;
}
.lite {
  font-size: 50px;
  color: #2aacc8;
  font-family: "Lato", sans-serif;
}
.nav {
  padding-right: 20px;
}
.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-li {
  list-style: none;
  position: relative;
}
.submenu {
  display: none;
  position: absolute;
  left: 0;
  top: 40px;
  padding-top: 12px;
  padding-left: 0;
  padding-bottom: 13px;
  width: max-content;
  background-color: #fff;
  border-bottom: 5px solid #2aacc8;
}
.nav-link {
  text-decoration: none;
  color: #000000;
  font-size: 13px;
  line-height: 20px;
  font-family: "ArialBold";
}
.nav-arrow {
  font-size: 10px;
}
.nav-li {
  padding: 10px 12px;
  border-top: 5px solid #e8ebf1;
  border-width: 100%;
}
.nav-li:hover {
  background-color: #fff;
  border-top: 5px solid #2aacc8;
  transition: 0.3s ease-in;
}
.nav-li .nav-link:hover {
  color: #2aacc8;
}
.nav-li:hover .submenu {
  display: block;
  transition: 0.3s ease-in;
}

.submenu-li {
  border-top: none;
  z-index: 5;
  background-color: #fff;
  padding-left: 6px;
  padding-top: 12px;
  padding-bottom: 0;
}

.submenu-li:after {
  content: "";
  display: block;
  border-bottom: 1px solid #e7e7e7;
  padding-top: 10px;
}
.submenu-li:hover {
  border-top: none;
}
.submenu-li:last-child:after {
  border-bottom: none;
}
.sub-link {
  font-family: "ArialRegular";
  font-weight: normal;
  padding-left: 12px;
  padding-right: 29px;
}
.carousel {
  background-color: #81e4ed;
  padding-top: 20px;
}
.carousel-background {
  background-image: url("./images/orange.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 76px 388px 27px 61px;
}
.main-title {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: #fff;
  font-size: 50px;
  padding-top: 23px;
}
.dots-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: max-content;
  margin: 0 auto;
  gap: 16px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.dot {
  display: flex;
  width: 15px;
  height: 15px;
  background-color: #626262;
  opacity: 0.5;
  border-radius: 50%;
}
.dot:hover {
  background-color: #fff;
  opacity: 1;
  transition: 0.8s;
}
.quality {
  background-color: #e8ebf1;
}
.quality-card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 44px;
  padding-top: 60px;
  padding-bottom: 51px;
}
.quality-card {
  width: 216px;
}
.quality-card-header {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-bottom: 19px;
}
.icon {
  width: 40px;
  height: 40px;
  background-color: #2aacc8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quality-card-title {
  font-family: "ArialBold";
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  padding-left: 16px;
}

.quality-card-text {
  font-family: "ArialRegular";
  font-size: 13px;
  line-height: 20px;
  color: #363636;
  padding-bottom: 30px;
}
.text-more {
  color: #2aacc8;
  padding-bottom: 0;
  padding-left: 10px;
  cursor: pointer;
}
.arrow-right {
  font-size: 12px;
  cursor: pointer;
}

.works-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 11px;
}
.arr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #81e4ed;
  font-size: 10px;
}
